@charset "UTF-8";

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


body{
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}


header{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    margin: 0;
    text-decoration: none;
    box-shadow: 0px 1px 4px black;

    
   
}

a.link-nav {
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 0 0 black;
  

}

a.link-nav:hover {
    background-color:#41226149 ;
    color: white;
    transition: 0.3s;
}

#botao_index {
    border: none;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px 10px 0px 0px;
}

#botao_index:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 3px 3px 3px rgba(104, 104, 104, 0.74);

}

#imagem_academia {
    border-radius: 25px;
    box-shadow: 5px 5px 3px rgba(141, 141, 141, 0.644);
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    flex-grow: 1; /* itens crescerem igualmente dentro daquele espaço */
    padding: 10px;
    font-size: 14px;
}
#marca{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#planos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0;
    background-color: white;
    text-align: center;
    font-size: 16px;
   
}

#planos_synergyfit{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#titulo_planos{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#input_index {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    font-size: 17px;
    padding-left: 40px;
    
}


.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#proxima{
    margin-top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
         
}

#aca-img {
    text-align: center;
    flex-direction: column;
   
}


span{
    color:#FF6600 ;
    

}

#span-fit{
    color:#470E75 ;
}




section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    margin:auto;
    max-width: 1200px;
    padding: 20px;
    
}

.plan{
    margin: 10px auto 10px auto;

}

.planos {
    margin: 20px auto 20px auto;
}
.planos:hover {
    transition: 0.3s;
    transform: translateY(-10px);
    filter: drop-shadow(1px 4px 3px rgba(83, 83, 83, 0.795));
}


.preço {
    padding: 15px;
    border-radius: 5px;
} 

.tipo_plano, .descricao {
    font-size: 18px;
}

#premium{
    font-size:18px ;
}

.funcionamento{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*footer*/
footer {
    margin-top: 10px;
    padding:5px 0px 5px 0px;
    background-color: black;
    width: 100%;
}

footer > p {
    text-align: center;
    color: white;
}

footer > nav {
    text-align:center;
    
}

footer > nav > a {
    color: white;
    margin: 0px 10px;
}
#div_icones {
    justify-content: center;
    display: flex;
}


/*Celular*/
@media(min-width:320px) and (max-width:500px) {
    header {
        height: 70px;
    }
    a.link-nav {
        font-size: 0.4em;
        margin: 0px 10px;
    }
    #logo {
        width: 110px;
    }
    #marca {
        font-size: 0.8em;
    }
    #proxima {
        font-size: 0.8em;
    }
    .menu {
        justify-content: flex-end;
    }
    #input_index {
        width: 200px;
        height: 17px;
    }
    #botao_index {
        width: 70px;
        height: 38px;
    }
    #imagem_academia {
        width: 360px;
    }
    #planos_synergyfit {
        font-size: 1.8em;
    }

    #titulo_planos, #span_planos {
        font-size: 1em;
    }
    .plan > img {
        margin: 15px auto 15px auto;
        width: 300px;
    }
    .plan {
        display: flex;
        flex-direction: column;
    }
    section {
        flex-direction: column;
        width: 340px;
    }
    footer {
        height: 155px;
    }
    .icone {
        width: 30px;
        margin: 15px 10px 0px 10px;
    }


    

}

/*Tablet*/
@media(min-width:501px) and (max-width:767px) {
    header {
        height: 100px;
    }
    a.link-nav {
        font-size: 0.7em;
        margin: 0px 16px;
    }
    #logo {
        width: 120px;
    }
    #marca {
        font-size: 0.6em;
    }
    #proxima {
        font-size: 1.5em;
    }
    #input_index {
        width: 230px;
        height: 23px;
    }
    #botao_index {
        width: 80px;
        height: 46px;
    }
    #imagem_academia {
        width: 460px;
    }
    #planos_synergyfit {
        font-size: 1.9em;
    }
    #titulo_planos, #span_planos {
        font-size: 1.2em;
    }

    .plan > img {
        width: 350px;
        margin: 20px auto 20px auto;
    }
    .plan {
        display: flex;
        flex-direction: column;
    }

    section {
        flex-direction: column;
        width: 360px;
    }
    footer {
        height: 165px;
    }
    .icone {
        width: 35px;
        margin: 17px 13px 0px 13px;
    }

}

/*Desktop menor*/
@media(min-width:767px) and (max-width:1440px) {
    header {
        height: 120px;
    }
    a.link-nav {
        font-size: 1em;
        margin: 0px 20px;
    }
    #logo {
        width: 135px;
    }
    #marca {
        font-size: 1em;
    }
    #proxima {
        font-size: 1.7em;
    }
    #input_index {
        width: 380px;
        height: 30px;
    }
    #botao_index {
        width: 90px;
        height: 52px;
    }
    #imagem_academia {
        width: 560px;
    }
    #planos_synergyfit {
        font-size: 2.1em;
    }
    #titulo_planos, #span_planos {
        font-size: 1.1em;
    }

    .plan > img {
        margin: 10px 20px 10px 20px;
        width: 275px;
    }
    .plan {
        display: flex;
    }

    section {
        flex-direction: row;
    }
    footer {
        height: 185px;
    }
    .icone {
        width: 40px;
        margin: 12px 15px 0px 15px;
    }

}


/*Desktop maior*/
@media(min-width:1441px){
    header {
        height: 130px;
    }
    a.link-nav {
        font-size: 1.6em;
        margin: 0px 30px;
    }
    #logo {
        width: 145px;
    }
    #marca {
        font-size: 1.7em;
    }
    #proxima {
        font-size: 2.2em;
    }

    #input_index {
        width: 500px;
        height: 30px;
    }
    #botao_index {
        width: 90px;
        height: 52px;
    }
    #imagem_academia {
        width: 800px;
    }
    #planos_synergyfit {
        font-size: 2.3em;
    }
    #titulo_planos, #span_planos {
        font-size: 1.2em;
    }

    .plan > img {
        width: 380px;
        margin: 10px 20px 10px 20px;
    }

    .plan {
        display: flex;
    }

    section {
        flex-direction: row;
    }
    footer {
        height: 190px;
    }
    .icone {
        width: 50px;
        margin: 15px 17px 0px 17px;
    }

}
