<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/atualizar_endereco.css">
    <link rel="shortcut icon" href="../img/favicon.jpeg" type="image/x-icon">
    <title>Cadastro de endereço</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/menu home.jpeg" width="40px">
            </div>

            <ul class="links">
                <li><a href="endereco.html">Meu endereço</a></li>
                <li><a href="../index.html">Página Principal</a></li>
                <li><a href="home.html">Home</a></li>
            </ul>

        </nav>
       
    </header>

    <div id="cada">
        <h1>Atualizar Endereço<br><span>Synergyfit</span></h1>
    </div>

    <main>
    
        <div id="cadastro_endereco">
        
            <form>     

                <div class="campo">
                    <label for="title">Titulo</label>
                    <input type="text" name="casa" id="titulo" placeholder="Digite o titulo">
                </div>

                <div class="campo">
                    <label for="cep">Cep</label>
                    <input type="text" name="cep" id="cep" placeholder="Digite seu cep">
                </div>

                <div class="campo">
                    <label for="endereço">Endereço</label>
                    <input type="text" name="endereco" id="endereco" placeholder="Digite seu endereço">
                </div>

                <div class="campo">
                    <label for="numero">Número</label>
                    <input type="text" name="numero" id="numero" placeholder="Digite seu número">
                </div>

                <div class="campo">
                    <label for="complemento">Complemento</label>
                    <input type="text" name="complemento"  id="complemento" placeholder="Digite o complemento">
                </div>



                <input type="button" value="Atualizar" id="botao">

                <p id="resultado"></p>

            </form>
        </div>
        
    </main>

    <footer id="footer">
        
        <div id="div_icones">
            <img src="../img/icone_face.png" class="icone" width="30px">
            <img src="../img/icone_email.png" class="icone" width="30px">
            <img src="../img/icone_yt.png" class="icone" width="30px">
            <img src="../img/icone_tel.png" class="icone" width="30px">
        </div>
        <p class="footer_info">Avenida Santos Dumont 789 - Jardins</p>
        <p class="footer_info">faleconosco@synergyfit.com</p>
  
    </footer>

    <script src="../script/atualizar_endereco.js"></script>

</body>
</html>