<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..//img/favicon.jpeg" type="image/x-icon">
    <title>Home SynergyFit</title>
</head>
<body>
    <header>

        <marquee direction="right" scrollamount="10" scrolldelay="0">
            Academia de Qualidade & Confiança ✓
        </marquee>
        <nav>
            <div class="logo">
                <img src="../img/menu home.jpeg">
            </div>

            <ul id="links">
                <li><a href="home.html">Home</a></li>
                <li><a href="login.html">Area do aluno</a></li>
                <li><a href="endereco.html">Meu Endereço</a></li>
            </ul>

            <div id="icons">
                <a href="#" id="facebook"><i>facebook</i></a>
                <a href="#" id="youtube"><i>Youtube</i></a>
                <a href="#" id="telefone"><i>Telefone</i></a>
            </div>
        </nav>
       
        <div class="banner">
            <img src="../img/home_foto.jfif" class="imagem">
        </div>
    </header>

    <section id="main">
        <h1 id="beneficio">- Benefícios da Synergy<span>Fit</span> -</h1>
        <br>

        <div class="bene">
            <h2><span style="color: #FF6600;">Variedade de Equipamentos</span></h2>
            <img src="../img/peso home.png" width="50px">
        </div>
        

        <p>Acesse uma <strong>ampla gama de equipamentos</strong> de musculação e cardio para atender a todos os níveis de habilidade. T<strong>emos máquinas de última geração</strong>, pesos livres e equipamentos para atividades funcionais, permitindo que você diversifique seu treino e trabalhe diferentes grupos musculares.</p>

        <hr>

        <div class="bene">
            <h2><span style="color: #FF6600;">Aulas diversificadas</span></h2>
            <img src="../img/icone yoga.webp" width="50px">
        </div>

        <p>Participe de aulas de<strong> yoga, pilates, spinning e treinamento funcional</strong>. As aulas são conduzidas por instrutores qualificados e são projetadasa para atender a diferentes níveis de condicionemnto físico. Essa diversidade mantém seu <strong>treino interessante e desafiador</strong>.</p>

        <hr>

        <div class="bene">
            <h2 ><span style="color:#FF6600 ;">Treinadores Qualificados</span></h2>
            <img src="../img/icone treinando.webp" width="60px">
        </div>

        <p>Nossos treinadores certificados estão disponíveis para oferecer orientação e suporte. Eles podem ajudá-lo a desevolver um plano de <strong>treino personalizado</strong>, garantir que você esteja usando a técnica correta e <strong>fornecer motivação durante sua jornada</strong>.</p>
    </section>

    <section class="agenda">
        <h1 id="agenda_aulas">- Agenda de aulas -<br><span>SynergyFit</span></h1>

        <h2>Segunda-feira</h2>
        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Atividade</th>
                    <th>Instrutor(a)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07:00 - 08:00</td>
                    <td>Yoga</td>
                    <td>Ana Souza</td>
                </tr>
                <tr>
                    <td>08:15 - 09:15</td>
                    <td>Zumba</td>
                    <td>Carlos Mendes</td>
                </tr>
                <tr>
                    <td>09:30 - 10:30</td>
                    <td>Musculação Orientada</td>
                    <td>João Silva</td>
                </tr>
                <tr>
                    <td>18:00 - 19:00</td>
                    <td>Pilates</td>
                    <td>Maria Oliveira</td>
                </tr>
            </tbody>
        </table>

        <h2>Terça-feira</h2>
        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Atividade</th>
                    <th>Instrutor(a)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07:00 - 08:00</td>
                    <td>Zumba</td>
                    <td>Carlos Mendes</td>
                </tr>
                <tr>
                    <td>08:15 - 09:15</td>
                    <td>Yoga</td>
                    <td>Ana Souza</td>
                </tr>
                <tr>
                    <td>09:30 - 10:30</td>
                    <td>Pilates</td>
                    <td>Maria Oliveira</td>
                </tr>
                <tr>
                    <td>18:00 - 19:00</td>
                    <td>Musculação Orientada</td>
                    <td>João Silva</td>
                </tr>
            </tbody>
        </table>

        <h2>Quarta-feira</h2>

        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Atividade</th>
                    <th>Instrutor(a)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07:00 - 08:00</td>
                    <td>Yoga</td>
                    <td>Ana Souza</td>
                </tr>
                <tr>
                    <td>08:15 - 09:15</td>
                    <td>Boxe</td>
                    <td>Pedro Santoro</td>
                </tr>
                <tr>
                    <td>09:30 - 10:30</td>
                    <td>Musculação Orientada</td>
                    <td>João Silva</td>
                </tr>
                <tr>
                    <td>18:00 - 19:00</td>
                    <td>Pilates</td>
                    <td>Maria Oliveira</td>
                </tr>
            </tbody>
        </table>

      
    </section>
    
    <footer>
      
        <div id="div_icones">
            <img src="../img/icone_face.png" class="icone" width="30px">
            <img src="../img/icone_email.png" class="icone" width="30px">
            <img src="../img/icone_yt.png" class="icone" width="30px">
            <img src="../img/icone_tel.png" class="icone" width="30px">
        </div>
        <p>Avenida Santos Dumont 789 - Jardins</p>
        <p>faleconosco@synergyfit.com</p>
    </footer>

</body>
</html>